.green-audio-player {

  width: 600px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  user-select: none;
  background-color: #fff;
  box-sizing: border-box;
  outline: none;
}

.green-audio-player.player-accessible .play-pause-btn:hover,
.green-audio-player.player-accessible .controls:hover,
.green-audio-player.player-accessible .volume__button:hover,
.green-audio-player.player-accessible .volume__controls:hover,
.green-audio-player.player-accessible .download:hover {
  outline: dotted 1px #999;
}

.green-audio-player svg,
.green-audio-player img {
  display: block;
}

.green-audio-player .holder {
  position: relative;

}

.green-audio-player .holder .loading .loading__spinner {
  position: absolute;
  left: -3px;
  bottom: 2px;
  width: 16px;
  height: 16px;
  border: 2px solid #b0b0b0;
  border-right-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 0.4s linear infinite;

}

.green-audio-player .holder .play-pause-btn {

  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 5px solid #66FCF1;
  background-color: #fff;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.3em;


}

.green-audio-player .holder .play-pause-btn:focus {
  outline: none;

}

.green-audio-player .slider {
  flex-grow: 1;
  background-color: #d8d8d8;
  cursor: pointer;
  position: relative;
}

.green-audio-player .slider .gap-progress {
  background-color: #44bfa3;
  border-radius: inherit;
  position: absolute;
  pointer-events: none;
}

.green-audio-player .slider .gap-progress .pin {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #66FCF1;
  ;
  position: absolute;
  pointer-events: all;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.32);
}

.green-audio-player .slider .gap-progress .pin::after {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0);
  width: 200%;
  height: 200%;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 50%;
}

.green-audio-player .controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #55606e;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  outline: none;
}

.green-audio-player .controls .controls__slider {
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 2px;
  height: 4px;
}

.green-audio-player .controls .controls__slider .controls__progress {
  width: 0;
  height: 100%;
}

.green-audio-player .controls .controls__slider .controls__progress .progress__pin {
  right: -8px;
  top: -6px;
}

.green-audio-player .controls span {
  cursor: default;
}

.green-audio-player .controls:focus {
  outline: none;

}

.green-audio-player .volume {
  position: relative;

}



.green-audio-player .volume .volume__button {
  cursor: pointer;
  outline: none;
  color: #66FCF1
}

.green-audio-player .volume .volume__button:focus {
  outline: none;
}

.green-audio-player .volume .volume__button.open path {
  fill: #66FCF1
}

.green-audio-player .volume .volume__controls {
  width: 30px;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 7px;
  position: absolute;
  left: -3px;
  bottom: 52px;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 2;
  outline: none;

}

.green-audio-player .volume .volume__controls .volume__slider {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 6px;
  border-radius: 3px;
  color: #66FCF1;
}

.green-audio-player .volume .volume__controls .volume__slider .volume__progress {
  bottom: 0;
  height: 100%;
  width: 6px;
  color: #66FCF1;
}

.green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
  left: -5px;
  top: -8px;
}

.green-audio-player .volume .volume__controls: {
  color: #66FCF1;

}

.green-audio-player .volume .volume__controls.hidden {
  display: none
}

.green-audio-player .volume .volume__controls.top {
  bottom: 52px;
  left: -3px;
}

.green-audio-player .volume .volume__controls.middle {
  bottom: -54px;
  left: 54px;
}

.green-audio-player .volume .volume__controls.bottom {
  bottom: -164px;
  left: -3px;
}

.green-audio-player .download {
  display: none;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
}

.green-audio-player .download:focus {
  outline: none;
}

.green-audio-player:focus {
  outline-color: #66FCF1
}

.message__offscreen {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.artist-info {
  background-color: #fff
}

.more-info {
  position: relative;
  top: 15px;
}

.white-text {
  color: #fff;
  margin: 0 0 3px 0;
  font-family: 'Righteous', cursive;
  font-size: 20px;



}

.navbar-toggler-icon {
  background-color: #66FCF1
}


.blue-text {
  margin-bottom: 5px;
  color: #66FCF1;
  font-size: 30px;
  font-family: 'Alfa Slab One', cursive;

}






.navbar-light a:hover {
  opacity: 0.9;
  position: relative;
  z-index: 1;
  color: #fff;
}



.navbar-light ul li a:hover {
  display: inline-table;
  background-color: #66FCF1;
  transition: 1.2s;
  border: 1px #66FCF1;
  border-radius: 3.5px;
  font-size: 120%;
  transition-duration: 1.5s;
}


li {
  margin-right: 60px;
}

.today-event {
  color: #66FCF1;
  margin-top: 0px;
  margin-left: 4px;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
}

.img-responsive {
  margin-top: 24px
}

.fa-twitter {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;


}

.fa-instagram {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;

  text-decoration: none;
  border-radius: 50%;

}

.fa-soundcloud {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;

  text-decoration: none;
  border-radius: 50%;

}


.week-event {
  font-family: 'Kanit', sans-serif;
  color: #66FCF1;
  font-size: 65px;
  margin-top: 90px;
}

.weekly {
  margin-right: 10px;
}

.weekend {
  margin-right: 10px;
}

.rounded-circle {
  border: 3px solid white;
}

.all-white {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.all-blue {
  color: #66FCF1;
  font-family: 'Anton', sans-serif;

}

.about-us {
  background-color: #0B0B0B;
}


.img-responsive {
  max-width: 1000px;
  min-height: 400px;
  max-height: 550px;
}

.bg-custom {
  background-color: #0B0B0B
}

.more-info {
  font-family: 'Alfa Slab One', cursive;
  word-spacing: 4px;
  color: #585757;
}

.day-blue {
  color: #66FCF1;
  font-size: 30px;
  margin-top: 30px;
}



@media screen and (min-width: 630px) {
  .rounded-circle {
    width: 100px;
    height: 100px;
  }
}


@media screen and (max-width: 631px) {
  .rounded-circle {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 630px) {
  .day-blue {
    font-size: 30px;
  }
}


@media screen and (max-width: 631px) {
  .day-blue {
    font-size: 16px;
  }
}

.artist-name {
  color: white;
  font-size: 20px;

}

@media screen and (min-width: 630px) {
  .artist-name {
    font-size: 20px;
  }
}


@media screen and (max-width: 631px) {
  .artist-name {
    font-size: 13px;
  }
}

.table-dark {
  background-color: #000000;
  margin-right:50px;
}

@media screen and (min-width: 630px) {
  .week-event {
    font-size: 65px;
  }
}


@media screen and (max-width: 631px) {
  .week-event {
    font-size: 35px;
  }
}



.uppercase {
  color: #66FCF1;
  font-family: 'Kanit', sans-serif;
  font-size: 60px;
}

@media screen and (min-width: 630px) {
  .uppercase {
    font-size: 60px;
  }
}


@media screen and (max-width: 631px) {
  .uppercase {
    font-size: 33px;
  }
}

.btn {
  background-color: #66FCF1;
}

@media screen and (min-width: 630px) {
  .all-white {
    font-size: 17px;
  }
}


@media screen and (max-width: 631px) {
  .all-white {
    font-size: 15px;
  }
}

.img-thumbnail {
  max-height: 600px;
  min-height: 200px;
  width: 750px
}

.program {
  width: 100%;
  max-width: 520px;
  min-height: 150px;
  max-height: 480px;
}


.program {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
}

.program:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.ekip-white {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

@media screen and (min-width: 630px) {
  .ekip-white {
    font-size: 25px;
  }
}


@media screen and (max-width: 631px) {
  .ekip-white {
    font-size: 18px;
  }
}

.ekip-instagram {
  background: #000000;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;

  text-decoration: none;
  border-radius: 50%;
}

.iletisim-text {
  color: #66FCF1;
}

.iletisim-text:link {
  color: #66FCF1;
  background-color: transparent;
  text-decoration: underline;
}

.fixed-bottom {
  padding: 0px;
}



.d-block {
  min-height: 300px;
  max-height: 690px;
  width:100%;

}

.program-2 {
  width: 100%;
  max-width: 450px;
  min-height: 150px;
  max-height: 415px;

}

.program-2 {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
}

.program-2:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.artist-name:hover {
  color: #ffffff;
}

.all-white-2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin-left: 98px;
  margin-right: 98px;
}

@media screen and (min-width: 1050px) {
  .all-white-2 {
    margin-left: 98px;
    margin-right: 98px;
    font-size: 17px;
  }
}


@media screen and (max-width: 1051px) {
  .all-white-2 {
    margin-left: 0px;
    margin-right:0px;
    font-size: 15px;
  }
}

.all-white-3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 630px) {
  .all-white-3 {
    font-size: 16px;
  }
}


@media screen and (max-width: 631px) {
  .all-white-3 {
    font-size: 14px;
  }
}

.time{
  margin-top: 50px;
}

.artist-name-2 {
  color: white;
  font-size: 20px;
  
}

@media screen and (min-width: 630px) {
  .artist-name-2 {
    font-size: 20px;
  
  }
}


@media screen and (max-width: 631px) {
  .artist-name-2 {
    font-size: 13px;
    
  }
}

@media screen and (min-width: 630px) {
  .week-event {
    margin-top: 90px;
  
  }
}


@media screen and (max-width: 631px) {
  .week-event {
    margin-top: 50px;
    
  }
}

