.artist-info {
  background-color: #000000
}

.more-info {
  position: relative;
  top: 15px;
  color: #66FCF1
}

.white-text {
  color: #fff;
  margin: 0 0 3px 0;
  font-family: 'Righteous', cursive;
  font-size: 20px;



}
.mobile-sound-div{
  display: none;
}
.navbar-toggler-icon {
  background-color: #66FCF1
}


.blue-text {
  margin-bottom: 5px;
  color: #66FCF1;
  font-size: 30px;
  font-family: 'Alfa Slab One', cursive;

}






.navbar-light a:hover {
  opacity: 0.9;
  position: relative;
  z-index: 1;
  color: #fff;
}



.navbar-light ul li a:hover {
  display: inline-table;
  background-color: #66FCF1;
  transition: 1.2s;
  border: 1px #66FCF1;
  border-radius: 3.5px;
  font-size: 120%;
  transition-duration: 1.5s;
}


li {
  margin-right: 60px;
}

.today-event {
  color: #66FCF1;
  margin-top: 0px;
  margin-left: 4px;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
}

.img-responsive {
  margin-top: 24px
}


.fa-twitter {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
 


}

.fa-instagram {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
  margin-top:-13px;

}

.fa-facebook {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
  margin-top:-13px;

}

.fa-spotify {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
  margin-top:-13px;

}

.fa-soundcloud {
  background: #0B0B0B;
  color: #66FCF1;
  padding: 10px;
  font-size: 30px;
  width:40px;
  text-decoration: none;
  border-radius: 50%;
  margin-top:-13px;

}


.week-event {
  font-family: 'Kanit', sans-serif;
  color: #66FCF1;
  font-size: 65px;
  margin-top: 90px;
}





.rounded-circle {
  border: 3px solid white;
}

.all-white {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.all-blue {
  color: #66FCF1;
  font-family: 'Anton', sans-serif;

}

.about-us {
  background-color: #0B0B0B;
  margin-top:150px;
}


.img-responsive {
  max-width: 1000px;
  min-height: 400px;
  max-height: 550px;
}

.bg-custom {
  background-color: #0B0B0B
}

.more-info {
  font-family: 'Alfa Slab One', cursive;
  word-spacing: 4px;
  color: #66FCF1;
  margin-top: 40px;
  font-size: 25px;
}

.day-blue {
  color: #66FCF1;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Kanit', sans-serif;
  margin-right:30px;
}




@media screen and (min-width: 630px) {
  .rounded-circle {


  }
}


@media screen and (max-width: 631px) {
  .rounded-circle {
    width: 50px;
    height:50px;
  }
}

@media screen and (max-width: 376px) {
  .rounded-circle {
    width: 40px;
    height:40px;
  }
}

@media screen and (min-width: 630px) {
  .day-blue {
    font-size: 30px;
    margin-right:30px;
  }
}


@media screen and (max-width: 631px) {
  .day-blue {
    font-size: 13px;
    line-height: 1px;
  }
}

@media screen and (max-width: 376px) {
  .day-blue {
    font-size: 11px;
    line-height: 1px;
  }
}

.artist-name {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

}

@media screen and (min-width: 630px) {
  .artist-name {
    font-size: 20px;
  }
}


@media screen and (max-width: 631px) {
  .artist-name {
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
  .artist-name {
    font-size: 9px;
  }
}

.table-dark {
  background-color: #000000;


}

@media screen and (min-width: 630px) {
  .week-event {
    font-size: 65px;
  }
}


@media screen and (max-width: 631px) {
  .week-event {
    font-size: 35px;
  }
}



.uppercase {
  color: #66FCF1;
  font-family: 'Kanit', sans-serif;
  font-size: 60px;
}

@media screen and (min-width: 630px) {
  .uppercase {
    font-size: 60px;
  }
}


@media screen and (max-width: 631px) {
  .uppercase {
    font-size: 33px;
  }
}

.uppercase-2 {
  color: #66FCF1;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
}



.btn {
  background-color: #66FCF1;
}

@media screen and (min-width: 630px) {
  .all-white {
    font-size: 17px;
  }
}


@media screen and (max-width: 631px) {
  .all-white {
    font-size: 15px;
  }
}

.img-thumbnail {
  max-height: 600px;
  min-height: 200px;
  width: 750px
}

.program {
  width: 100%;
  min-height: 150px;
  max-height: 480px;
}

.program-3{
    width: 100%;
  min-height: 150px;
  max-height: 480px; 
  position: relative; 
}
.program {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
}

.program:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.ekip-white {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;

}

@media screen and (min-width: 630px) {
  .ekip-white {
    font-size: 25px;
  }
}


@media screen and (max-width: 631px) {
  .ekip-white {
    font-size: 18px;
  }
}

.ekip-instagram {
  background: #000000;
  color: #66FCF1;
  padding: 10px;
  font-size: 22px;
  width: 32px;
  margin-top:-13px;
  text-decoration: none;
  border-radius: 50%;
}

.iletisim-text {
  color: #66FCF1;
}

.iletisim-text:link {
  color: #66FCF1;
  background-color: transparent;
  text-decoration: underline;
}

.fixed-bottom {
  padding: 0px;
}



.d-block {
  height: 72%;
  width: 100%;

}



.program-2 {
  width: 100%;
  max-width: 450px;
  min-height: 150px;
  max-height: 415px;

}

.program-2 {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
}

.program-2:hover {
  z-index: 2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.artist-name:hover {
  color: #ffffff;
}

.all-white-2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin-left: 98px;
  margin-right: 98px;
}

@media screen and (min-width: 1050px) {
  .all-white-2 {
    margin-left: 98px;
    margin-right: 98px;
    font-size: 17px;
  }
}


@media screen and (max-width: 1051px) {
  .all-white-2 {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
  }
}

.all-white-3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 630px) {
  .all-white-3 {
    font-size: 16px;
  }
}


@media screen and (max-width: 631px) {
  .all-white-3 {
    font-size: 14px;
  }
}

.time {
  margin-top: 50px;
}

.artist-name-2 {
  color: white;
  font-size: 20px;

}

@media screen and (min-width: 630px) {
  .artist-name-2 {
    font-size: 20px;

  }
}


@media screen and (max-width: 631px) {
  .artist-name-2 {
    font-size: 12px;

  }
}
@media screen and (max-width: 376px) {
  .artist-name-2 {
    font-size: 9px;
  }
}

@media screen and (min-width: 630px) {
  .week-event {
    margin-top: 90px;

  }
}


@media screen and (max-width: 631px) {
  .week-event {
    margin-top: 50px;

  }
}

@media only screen and (max-width: 600px) {

  .d-block {
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
  }
}

.about-us {
  margin-bottom: 100px;
}

@media only screen and (max-width: 730px) {

  .artist-info {
    display: none;
  }
}


@media screen and (min-width: 630px) {
  .weekly {
    margin-right: 15px;
  }
}


@media screen and (max-width: 631px) {
  .weekly {}
}

.logo-text {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 31px;
  margin-top: 15px;
  position: relative;
  top: 5px;
  left: 0px;

}

.logo-circle {
  margin-left: 5px;

}


@media screen and (min-width: 630px) {
  .logo-text {
    font-size: 31px;
    top: 5px;
  }
}


@media screen and (max-width: 631px) {
  .logo-text {
    font-size: 18px;
    top: 0px;
  }
}

@media screen and (min-width: 630px) {
  .logo-circle {
    width: 60px;
    height: 60px;
    margin-left: 5px;
  }
}


@media screen and (max-width: 631px) {
  .logo-circle {
    width: 48px;
    height: 48px;
    margin-left: 0px;

  }
}

.ekip-white-3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

@media screen and (min-width: 630px) {
  .ekip-white-3 {
    font-size: 22px;
  }
}


@media screen and (max-width: 631px) {
  .ekip-white-3 {
    font-size: 18px;
  }
}





.text-center {
  margin: 0px;
  padding: 0px;
}



.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout:fixed

}


.day-blue-2 {
  color: #66FCF1;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Kanit', sans-serif;
  margin-right:30px;
}



@media screen and (min-width: 630px) {
  .day-blue-2 {
    font-size: 30px;
    margin-right:30px;
  }
}


@media screen and (max-width: 631px) {
  .day-blue-2 {
    font-size: 13px;

    
}
}

@media screen and (max-width: 376px) {
  .day-blue-2 {
    font-size: 11px;
  }
}

@media screen and (min-width: 630px) {
.rounded-circle {
  border: 3px solid white;
}
}


@media screen and (max-width: 631px) {
.rounded-circle {
  border: 2px solid white;

}
}










/* ============================================================= */
/* styles for schedule part */
/* ============================================================= */
.weekly {
  background-color: #000;
}

/* schedule header styles start */
.scheduleContainer{
  background-color: #000;
}

.scheduleContainer .scheduleHeader{
  padding: 35px 0;
  padding-bottom: 50px;
}

.scheduleContainer .scheduleHeader .scheduleDays{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
}

.scheduleContainer .scheduleHeader .scheduleDays .daysItem{
  display: inline-block;
  margin: 0;
  padding: 0 15px;
}

/* -------------------------------- */
@media screen and (max-width: 575px) {
  .scheduleContainer .scheduleHeader .scheduleDays .daysItem {
    padding: 0 10px;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleHeader .scheduleDays .daysItem .daysLink{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  line-height: 2;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleHeader .scheduleDays .daysItem .daysLink{
    font-size: 25px;
  }
}
@media screen and (max-width: 575px) {
  .scheduleContainer .scheduleHeader .scheduleDays .daysItem .daysLink{
    font-size: 20px;
  }
}
/* -------------------------------- */


.scheduleContainer .scheduleHeader .scheduleDays .daysItem
.daysLink.active{
  color: #66FCF1;
}

.scheduleContainer .scheduleHeader .scheduleDays .daysItem .daysLink:hover{
  color: #66FCF1;
}

/* schedule content styles start */
.scheduleContainer .scheduleContent .scheduleTab{
  display: none;
}

.scheduleContainer .scheduleContent .scheduleTab.active{
  display: block;
}

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem{
  padding-bottom: 30px;
  margin: 0 5%; 
  margin-bottom: 60px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: 1s;

  /* layout styles */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem.active{
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem:after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  opacity: .5;
  height: 3px;
  width: 100%;
  background-image: url(../images/dotted.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/* -------------------------------- */
@media screen and (max-width: 767px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem{
    flex-direction: column;
    justify-content: center;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem .titleTime{
  /* layout styles */
  display: flex;
  align-items: center;
  width: calc(100% - 280px);
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleContent .scheduleTab
  .scheduleItem .titleTime{
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 767px) {
  .scheduleContainer .scheduleContent .scheduleTab
  .scheduleItem .titleTime{
    align-items: start;
    width: auto;
    max-width: 100%;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem
.titleTime .scheduleTime{
  width: 130px;
  padding: 5px 0;
  margin-left: 7px;
  border-right: 5px solid #fff;
  transition: .3s;
}

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem:hover
.titleTime .scheduleTime{
  border-right: 5px solid #66FCF1;
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTime{
    width: 100px;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem
.titleTime .scheduleTime .timeStart,
.scheduleContainer .scheduleContent .scheduleTab .scheduleItem
.titleTime .scheduleTime .timeEnd{
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTime .timeStart,
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTime .timeEnd{
    font-size: 20px;
    line-height: 21px;
  }
}
@media screen and (max-width: 575px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTime .timeStart,
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTime .timeEnd{
    font-size: 18px;
    line-height: 19px;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem
.titleTime .scheduleTitle{
  width: calc(100% - 130px);
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTitle{
    width: calc(100% - 100px);
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem
.titleTime .scheduleTitle .thetTitle{
  font-size: 35px;
  line-height: 45px;
  color: #fff;
  margin: 0;
  padding: 0 30px;
  text-transform: uppercase;
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTitle .thetTitle{
    font-size: 25px;
    line-height: 35px;
  }
}
@media screen and (max-width: 767px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTitle .thetTitle{
    padding-top: 7px;
  }
}
@media screen and (max-width: 575px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem
  .titleTime .scheduleTitle .thetTitle{
    padding-left: 20px;
    padding-right: 0;
    padding-top: 8px;
    font-size: 20px;
    line-height: 30px;
    padding;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem .scheduleImage{
  width: 280px;
}

/* -------------------------------- */
@media screen and (max-width: 991px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem .scheduleImage{
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .scheduleContainer .scheduleContent .scheduleTab .scheduleItem .scheduleImage{
    margin-top: 35px;
  }
}
/* -------------------------------- */

.scheduleContainer .scheduleContent .scheduleTab .scheduleItem .scheduleImage img{
  width: 100%;
  height: auto;
}

.jumbotron {
    background-color:#000;
    border: 1px solid #66FCF1;

}


.sound-area{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:0.5em;
    grid-auto-flow:dense;
    height: 100%;

}

#sound-area{
    display:block;
}

.sound-area .box{
    position:relative;
    
}




.sound-area .box img{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:auto;
    object-fit:cover;
    

}


.sound-area .box.a{
    grid-column:1/3;
    grid-row:1/3;
}

/* ipad portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  
.box.a img.img-fluid {
  height: auto;
}
.sound-area .box img {
  position: inherit !important;
}
}
/* mobile media query */
@media only screen and (max-width: 600px) {
  .sound-area .box img {
  height: auto;
  position: relative;
  }
  .mobile-sound-div{
    display: inline-block;
  }
  .sound-area .box.a {
    grid-column: 1/4;
}
.box.c, .box.b {
  grid-column: 3/4;
  display: contents;
}
.sound-area {
  grid-template-columns: auto;
  grid-gap: 0.5em;
}
}

.sound-margin{
    margin-top:150px;
}

@media screen and (min-width: 630px) {
  .iframe-soundcloud
 {
    margin-top:0px;

  }
}

@media screen and (max-width: 631px) {
  .iframe-soundcloud
 {
    margin-top:50px;

  }
}

@media screen and (min-width: 630px) {
.sound-margin {
  margin-top:150px;
}
}

@media screen and (max-width: 631px) {
.sound-margin {
  margin-top:80px;
}
}


.brighten img {
-webkit-filter: brightness(95%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.brighten img:hover {
-webkit-filter: brightness(140%);
}

.soundcloud-img{
    display:inline-block;
}


@media screen and (min-width: 630px) {
  .spotify-mobile
 {
    margin-top:0px;

  }
}

@media screen and (max-width: 631px) {
  .spotify-mobile
 {
    margin-top:40px;

  }
}

@media screen and (min-width: 990px) {
  .mini-sound
 {
    height:100%;

  }
}

@media screen and (max-width: 991px) {
  .mini-sound
 {
    height:500px;

  }
}

.box-d{
    width:100%;
}

@media screen and (min-width: 770px) {
  .mini-spotify
 {
    height:100%;

  }
}

@media screen and (max-width: 771px) {
  .mini-spotify
 {
    height:320px;

  }
}

.container-div-mobile-sound{
    margin-top:150px;
}

.brighten a {
-webkit-filter: brightness(95%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.brighten a:hover {
-webkit-filter: brightness(140%);
}

.player-title-1{
    color:#fff;
    font-family: 'Kanit', sans-serif;
    font-size:56px;
}

.player-title-2{
    color:#fff;
    font-family: 'Kanit', sans-serif;
    font-size:44.5px;
}

@media screen and (min-width: 830px) {
.player-title-1{
  font-size:56px;
}
}

@media screen and (max-width: 731px) {
.player-title-1 {
  font-size:44.5px;
}
}

@media screen and (max-width: 481px) {
.player-title-1 {
  font-size:34px;
  text-align: center;
}
}

@media screen and (min-width: 830px) {
.player-title-2{
  font-size:56px;
}
}

@media screen and (max-width: 731px) {
.player-title-2 {
  font-size:38px;
}
}

@media screen and (max-width: 481px) {
.player-title-2 {
  font-size:34px;
  text-align: center;
}
}



.dot-img{
    max-width:1550px;
}

.dot-img-2{
    width:650px;
}



@media screen and (min-width: 1530px) {
.dot-img{
    font-size:56px;
}
}

@media screen and (max-width: 1529px) {
.dot-img {
  font-size:0px;
}
}

@media screen and (min-width: 1530px) {
.dot-img-2{
    font-size:56px;
}
}

@media screen and (max-width: 1529px) {
.dot-img-2 {
  font-size:0px;
}
}

@media screen and (min-width: 630px) {
.sound-margin-2 {
  margin-top:150px;
}
}

@media screen and (max-width: 731px) {
.about-us {
  margin-bottom:150px;
  margin-top:500px;
}
}

@media screen and (max-width: 730px) {
.radio-player {
   margin-top:50px;
}
}

@media screen and (min-width: 731px) {
.radio-player{
    margin-top:100px;
}
}